@font-face {
    font-family: 'IcoMoon';
    src: url('fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon:before {
	font-family:'IcoMoon';
	speak:none;
	font-style:normal;
	font-weight:normal !important;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	color:inherit;
	position:relative;
	font-size:1em;
	left:-3px; top:2px;
}
li .icon:before {
	position:relative;
	width:24px; height:100%;
	top:2px;
	line-height:0 !important;
	margin-right:4px;
}

.icon.mini:before {
	font-size:.7em;
}
.icon.big:before {
	font-size:1.5em;
}

.icon.cloud:before {
	content: "\e01d";
}
.icon.user:before {
	content: "\e000";
}
.icon.users:before {
	content: "\e001";
}
.icon.user-2:before {
	content: "\e002";
}
.icon.users-2:before {
	content: "\e003";
}
.icon.user-3:before {
	content: "\e004";
}
.icon.user-4:before {
	content: "\e005";
}
.icon.cloud-download:before {
	content: "\e006";
}
.icon.cloud-upload:before {
	content: "\e007";
}
.icon.earth:before {
	content: "\e008";
}
.icon.flag:before {
	content: "\e009";
}
.icon.signup:before {
	content: "\e00a";
}
.icon.spinner:before {
	content: "\e00b";
}
.icon.spinner-2:before {
	content: "\e00c";
}
.icon.spinner-3:before {
	content: "\e00d";
}
.icon.droplet:before {
	content: "\e00e";
}
.icon.home:before {
	content: "\e00f";
}
.icon.home-2:before {
	content: "\e010";
}
.icon.home-3:before {
	content: "\e011";
}
.icon.office:before {
	content: "\e012";
}
.icon.pencil:before {
	content: "\e013";
}
.icon.pencil-2:before {
	content: "\e014";
}
.icon.quill:before {
	content: "\e015";
}
.icon.connection:before {
	content: "\e016";
}
.icon.podcast:before {
	content: "\e017";
}
.icon.feed:before {
	content: "\e018";
}
.icon.qrcode:before {
	content: "\e019";
}
.icon.barcode:before {
	content: "\e01a";
}
.icon.tag:before {
	content: "\e01b";
}
.icon.tags:before {
	content: "\e01c";
}
.icon.folder:before {
	content: "\e01e";
}
.icon.folder-open:before {
	content: "\e01f";
}
.icon.stack:before {
	content: "\e020";
}
.icon.file:before {
	content: "\e021";
}
.icon.copy:before {
	content: "\e022";
}
.icon.copy-2:before {
	content: "\e023";
}
.icon.copy-3:before {
	content: "\e024";
}
.icon.paste:before {
	content: "\e025";
}
.icon.paste-2:before {
	content: "\e026";
}
.icon.paste-3:before {
	content: "\e027";
}
.icon.headphones:before {
	content: "\e028";
}
.icon.music:before {
	content: "\e029";
}
.icon.camera:before {
	content: "\e02a";
}
.icon.play:before {
	content: "\e02b";
}
.icon.file-2:before {
	content: "\e02c";
}
.icon.profile:before {
	content: "\e02d";
}
.icon.file-3:before {
	content: "\e02e";
}
.icon.phone:before {
	content: "\e02f";
}
.icon.phone-hang-up:before {
	content: "\e030";
}
.icon.address-book:before {
	content: "\e031";
}
.icon.envelop:before {
	content: "\e032";
}
.icon.pushpin:before {
	content: "\e033";
}
.icon.location:before {
	content: "\e034";
}
.icon.location-2:before {
	content: "\e035";
}
.icon.compass:before {
	content: "\e036";
}
.icon.map:before {
	content: "\e037";
}
.icon.map-2:before {
	content: "\e038";
}
.icon.clock:before {
	content: "\e039";
}
.icon.clock-2:before {
	content: "\e03a";
}
.icon.alarm:before {
	content: "\e03b";
}
.icon.calendar:before {
	content: "\e03c";
}
.icon.calendar-2:before {
	content: "\e03d";
}
.icon.drawer:before {
	content: "\e03e";
}
.icon.drawer-2:before {
	content: "\e040";
}
.icon.box-add:before {
	content: "\e041";
}
.icon.box-remove:before {
	content: "\e042";
}
.icon.download:before {
	content: "\e043";
}
.icon.upload:before {
	content: "\e044";
}
.icon.bars:before {
	content: "\e045";
}
.icon.pie:before {
	content: "\e046";
}
.icon.stats:before {
	content: "\e047";
}
.icon.bars-2:before {
	content: "\e048";
}
.icon.cogs:before {
	content: "\e049";
}
.icon.cog:before {
	content: "\e04a";
}
.icon.wand:before {
	content: "\e04b";
}
.icon.wrench:before {
	content: "\e04c";
}
.icon.search:before {
	content: "\e04e";
}
.icon.zoom-in:before {
	content: "\e04f";
}
.icon.zoom-out:before {
	content: "\e050";
}
.icon.lock:before {
	content: "\e04d";
}
.icon.unlocked:before {
	content: "\e051";
}
.icon.key:before {
	content: "\e052";
}
.icon.key-2:before {
	content: "\e053";
}
.icon.eye:before {
	content: "\e054";
}
.icon.eye-blocked:before {
	content: "\e055";
}
.icon.bookmark:before {
	content: "\e056";
}
.icon.bookmarks:before {
	content: "\e057";
}
.icon.download-2:before {
	content: "\e058";
}
.icon.upload-2:before {
	content: "\e059";
}
.icon.download-3:before {
	content: "\e05a";
}
.icon.upload-3:before {
	content: "\e05b";
}
.icon.thumbs-up:before {
	content: "\e05c";
}
.icon.thumbs-up-2:before {
	content: "\e05d";
}
.icon.happy:before {
	content: "\e05e";
}
.icon.smiley:before {
	content: "\e05f";
}
.icon.tongue:before {
	content: "\e060";
}
.icon.sad:before {
	content: "\e061";
}
.icon.wink:before {
	content: "\e062";
}
.icon.grin:before {
	content: "\e063";
}
.icon.cool:before {
	content: "\e064";
}
.icon.angry:before {
	content: "\e065";
}
.icon.shocked:before {
	content: "\e066";
}
.icon.confused:before {
	content: "\e067";
}
.icon.neutral:before {
	content: "\e068";
}
.icon.wondering:before {
	content: "\e069";
}
.icon.notification:before {
	content: "\e06a";
}
.icon.warning:before {
	content: "\e06b";
}
.icon.info:before {
	content: "\e06c";
}
.icon.question:before {
	content: "\e06d";
}
.icon.info-2:before {
	content: "\e06e";
}
.icon.blocked:before {
	content: "\e06f";
}
.icon.cancel-circle:before {
	content: "\e070";
}
.icon.checkmark-circle:before {
	content: "\e071";
}
.icon.spam:before {
	content: "\e072";
}
.icon.close:before {
	content: "\e073";
}
.icon.checkmark:before {
	content: "\e074";
}
.icon.checkmark-2:before {
	content: "\e075";
}
.icon.minus:before {
	content: "\e076";
}
.icon.plus:before {
	content: "\e077";
}
.icon.enter:before {
	content: "\e078";
}
.icon.exit:before {
	content: "\e079";
}
.icon.play-2:before {
	content: "\e07a";
}
.icon.pause:before {
	content: "\e07b";
}
.icon.stop:before {
	content: "\e07c";
}
.icon.backward:before {
	content: "\e07d";
}
.icon.forward:before {
	content: "\e07e";
}
.icon.loop:before {
	content: "\e07f";
}
.icon.arrow-up-left:before {
	content: "\e080";
}
.icon.arrow-up:before {
	content: "\e081";
}
.icon.arrow-up-right:before {
	content: "\e082";
}
.icon.arrow-right:before {
	content: "\e083";
}
.icon.arrow-down-right:before {
	content: "\e084";
}
.icon.arrow-down-left:before {
	content: "\e085";
}
.icon.arrow-down:before {
	content: "\e086";
}
.icon.arrow-left:before {
	content: "\e087";
}
.icon.table:before {
	content: "\e088";
}
.icon.table-2:before {
	content: "\e089";
}
.icon.apple:before {
	content: "\e08a";
}
.icon.android:before {
	content: "\e08b";
}
.icon.windows:before {
	content: "\e08c";
}
.icon.windows8:before {
	content: "\e08d";
}
.icon.tux:before {
	content: "\e08e";
}
.icon.newspaper:before {
	content: "\e08f";
}
.icon.pen:before {
	content: "\e090";
}
.icon.blog:before {
	content: "\e091";
}
.icon.paint-format:before {
	content: "\e092";
}
.icon.image:before {
	content: "\e093";
}
.icon.image-2:before {
	content: "\e094";
}
.icon.images:before {
	content: "\e095";
}
.icon.pacman:before {
	content: "\e099";
}
.icon.spades:before {
	content: "\e09a";
}
.icon.clubs:before {
	content: "\e09b";
}
.icon.diamonds:before {
	content: "\e09c";
}
.icon.pawn:before {
	content: "\e09d";
}
.icon.bullhorn:before {
	content: "\e09e";
}
.icon.book:before {
	content: "\e09f";
}
.icon.books:before {
	content: "\e0a0";
}
.icon.library:before {
	content: "\e0a1";
}
.icon.file-4:before {
	content: "\e0a2";
}
.icon.mobile:before {
	content: "\e03f";
}
.icon.cart:before {
	content: "\e096";
}
.icon.cart-2:before {
	content: "\e097";
}
.icon.cart-3:before {
	content: "\e098";
}
.icon.coin:before {
	content: "\e0a3";
}
.icon.disk:before {
	content: "\e0a4";
}
.icon.undo:before {
	content: "\e0a5";
}
.icon.redo:before {
	content: "\e0a6";
}
.icon.undo-2:before {
	content: "\e0a7";
}
.icon.redo-2:before {
	content: "\e0a8";
}
.icon.forward-2:before {
	content: "\e0a9";
}
.icon.reply:before {
	content: "\e0aa";
}
.icon.bubbles:before {
	content: "\e0ab";
}
.icon.bubbles-2:before {
	content: "\e0ac";
}
.icon.bubbles-3:before {
	content: "\e0ad";
}
.icon.bubble:before {
	content: "\e0ae";
}
.icon.bubble-2:before {
	content: "\e0af";
}
.icon.bubbles-4:before {
	content: "\e0b0";
}
.icon.busy:before {
	content: "\e0b1";
}
.icon.spinner-4:before {
	content: "\e0b2";
}
.icon.spinner-5:before {
	content: "\e0b3";
}
.icon.bug:before {
	content: "\e0b4";
}
.icon.aid:before {
	content: "\e0b5";
}
.icon.cog-2:before {
	content: "\e0b6";
}
.icon.equalizer:before {
	content: "\e0b7";
}
.icon.settings:before {
	content: "\e0b8";
}
.icon.gift:before {
	content: "\e0b9";
}
.icon.trophy:before {
	content: "\e0ba";
}
.icon.glass:before {
	content: "\e0bb";
}
.icon.rocket:before {
	content: "\e0bc";
}
.icon.meter:before {
	content: "\e0bd";
}
.icon.meter2:before {
	content: "\e0be";
}
.icon.dashboard:before {
	content: "\e0bf";
}
.icon.hammer:before {
	content: "\e0c0";
}
.icon.mug:before {
	content: "\e0c1";
}
.icon.food:before {
	content: "\e0c2";
}
.icon.leaf:before {
	content: "\e0c3";
}
.icon.fire:before {
	content: "\e0c4";
}
.icon.magnet:before {
	content: "\e0c5";
}
.icon.remove:before {
	content: "\e0c6";
}
.icon.remove-2:before {
	content: "\e0c7";
}
.icon.briefcase:before {
	content: "\e0c8";
}
.icon.tree:before {
	content: "\e0c9";
}
.icon.truck:before {
	content: "\e0ca";
}
.icon.accessibility:before {
	content: "\e0cb";
}
.icon.target:before {
	content: "\e0cc";
}
.icon.switch:before {
	content: "\e0cd";
}
.icon.lightning:before {
	content: "\e0ce";
}
.icon.shield:before {
	content: "\e0cf";
}
.icon.road:before {
	content: "\e0d0";
}
.icon.power-cord:before {
	content: "\e0d1";
}
.icon.list:before {
	content: "\e0d2";
}
.icon.list-2:before {
	content: "\e0d3";
}
.icon.menu:before {
	content: "\e0d4";
}
.icon.menu-2:before {
	content: "\e0d5";
}
.icon.numbered-list:before {
	content: "\e0d6";
}
.icon.attachment:before {
	content: "\e0d7";
}
.icon.link:before {
	content: "\e0d8";
}
.icon.globe:before {
	content: "\e0d9";
}
.icon.star:before {
	content: "\e0da";
}
.icon.star-2:before {
	content: "\e0db";
}
.icon.star-3:before {
	content: "\e0dc";
}
.icon.heart:before {
	content: "\e0dd";
}
.icon.heart-2:before {
	content: "\e0de";
}
.icon.heart-broken:before {
	content: "\e0df";
}
.icon.evil:before {
	content: "\e0e0";
}
.icon.evil-2:before {
	content: "\e0e1";
}
.icon.radio-checked:before {
	content: "\e0e2";
}
.icon.radio-unchecked:before {
	content: "\e0e3";
}
.icon.checkbox-unchecked:before {
	content: "\e0e4";
}
.icon.checkbox-partial:before {
	content: "\e0e5";
}
.icon.checkbox-checked:before {
	content: "\e0e6";
}
.icon.chrome:before {
	content: "\e0e7";
}
.icon.firefox:before {
	content: "\e0e8";
}
.icon.IE:before {
	content: "\e0e9";
}
.icon.opera:before {
	content: "\e0ea";
}
.icon.html5:before {
	content: "\e0eb";
}
.icon.html5-2:before {
	content: "\e0ec";
}
.icon.file-css:before {
	content: "\e0ed";
}
.icon.file-xml:before {
	content: "\e0ee";
}
.icon.file-powerpoint:before {
	content: "\e0ef";
}
.icon.file-excel:before {
	content: "\e0f0";
}
.icon.file-word:before {
	content: "\e0f1";
}
.icon.file-openoffice:before {
	content: "\e0f2";
}
.icon.file-pdf:before {
	content: "\e0f3";
}
.icon.libreoffice:before {
	content: "\e0f4";
}
.icon.file-zip:before {
	content: "\e0f5";
}
.icon.embed:before {
	content: "\e0f6";
}
.icon.code:before {
	content: "\e0f7";
}
.icon.console:before {
	content: "\e0f8";
}
.icon.lab:before {
	content: "\e0f9";
}
.icon.hammer-2:before {
	content: "\e0fa";
}
.icon.binoculars:before {
	content: "\e0fb";
}
.icon.print:before {
	content: "\e0fc";
}
.icon.screen:before {
	content: "\e0fd";
}
.icon.keyboard:before {
	content: "\e0fe";
}
.icon.cabinet:before {
	content: "\e0ff";
}
.icon.drawer-3:before {
	content: "\e100";
}
.icon.plus-alt:before {
	content: "\e101";
}
.icon.minus-alt:before {
	content: "\e102";
}
.icon.checkmark-3:before {
	content: "\e103";
}
.icon.check-alt:before {
	content: "\e104";
}
.icon.x:before {
	content: "\e105";
}
.icon.x-altx-alt:before {
	content: "\e106";
}
.icon.denied:before {
	content: "\e107";
}
.icon.pin:before {
	content: "\e108";
}
.icon.bolt:before {
	content: "\e109";
}
.icon.reload:before {
	content: "\e10a";
}
.icon.reload-alt:before {
	content: "\e10b";
}
.icon.move-alt2:before {
	content: "\e10c";
}
.icon.plus-2:before {
	content: "\e10d";
}
.icon.minus-2:before {
	content: "\e10e";
}
.icon.arrow-right-alt2:before {
	content: "\e10f";
}
.icon.arrow-left-alt2:before {
	content: "\e110";
}
.icon.arrow-left-alt1:before {
	content: "\e111";
}
.icon.arrow-right-alt1:before {
	content: "\e112";
}
.icon.move-vertical-alt2:before {
	content: "\e113";
}
.icon.move-horizontal-alt2:before {
	content: "\e114";
}
.icon.cd:before {
	content: "\e115";
}
.icon.arrow-down-alt2:before {
	content: "\e116";
}
.icon.arrow-down-alt1:before {
	content: "\e117";
}
.icon.arrow-up-alt2:before {
	content: "\e118";
}
.icon.floppy:before {
	content: "\e119";
}